doctype html
html
  head
    title Product Gallery
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="images/favicon.ico" rel="shortcut icon")
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
    link(rel="stylesheet", href="stylesheets/all.css")
  body
    .grid-container

      .title
        span CCCLOTHES
        h2 MEN’S TOPS

      .product.product-01
        a.product-img(href="product.html")
        h3.product-title LINEN BLAZER
        span.product-sort Men’s outfit
        .product-num
          span 01
          .pattern

      .product.product-02
        a.product-img(href="product.html")
        h3.product-title FREELIFT
        span.product-sort Men’s basics
        .product-num
          span 02

      .product.product-03
        a.product-img(href="product.html")
        h3.product-title SUPER SKINNY
        span.product-sort Men’s pattern shirts
        .product-num
          span 03

      .product.product-04
        a.product-img(href="product.html")
        h3.product-title DENIM
        span.product-sort Men’s cadual
        .product-num
          span 04
          .pattern

      .product.product-05
        .pattern
        a.product-img(href="product.html")
        h3.product-title SWEATSHIRTS
        span.product-sort Men’s jacket
        .product-num
          span 05

      .product.product-06
        a.product-img(href="product.html")
        h3.product-title VINTAGE DENIM
        span.product-sort Men’s classic
        .product-num
          span 06

      .product.product-07
        a.product-img(href="product.html")
        h3.product-title EDITION
        span.product-sort Men’s shirts
        .product-num
          span 07

    script(src="javascripts/vendor.js")
    script(src="javascripts/all.js")